#home .choose-room {
    height: 50px !important;
    flex-shrink: 0;
    display: flex;
    --scrollbar-width: 6px;
    box-shadow: inset 0 -1px 0 var(--color-border);
    transition: box-shadow var(--anim-duration);

    .track-horizontal {
        bottom: unset;
        top: 2px;
    }

    .scroll-view > div:first-child {
        display: flex;
        overflow-y: auto !important; // These two lines prevent a margin on the right from appearing when centering the active tab.
        margin-right: 0 !important;
    }

    a {
        flex-shrink: 0;
        text-decoration: none;
        color: var(--color-foreground);
        padding: 15px;
        box-shadow: inset 0 0 0 var(--color-navbar-active), inset 0 -1px 0 var(--color-navbar-hover-title);
        transition: color var(--anim-duration), box-shadow var(--anim-duration);

        span {
            margin-left: 10px;
        }

        &:hover {
            box-shadow: inset 0 0 0 var(--color-navbar-active), inset 0 -3px 0 var(--color-navbar-hover-title);
        }

        &.active {
            color: var(--color-navbar-active);
            box-shadow: inset 0 -3px 0 var(--color-navbar-active), inset 0 -1px 0 var(--color-navbar-hover-title);
        }

        &.active:hover {
            box-shadow: inset 0 -3px 0 var(--color-navbar-active), inset 0 -3px 0 var(--color-navbar-hover-title);
        }

        &.disabled {
            color: var(--color-status-error);
            --color-navbar-active: var(--color-status-error);
        }

        &.favorites {
            font-weight: bold;

            @media screen and (max-width: 600px) {
                span {
                    display: none;
                }
            }
        }
    }

    button.icon {
        margin: auto 0.25em; // Go to right center
    }
    
    .loading, 
    .error {
        font-size: 15px;

        svg, .circle {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        .circle {
            border-radius: 50%;
            box-sizing: border-box;
            border-width: 3px;
        }
    }

    @media (forced-colors: active) {
        border-bottom: 1px solid;

        a {
            outline-offset: -3px;

            &:hover, &:focus-visible {
                outline: 1px dashed;
            }

            &.active {
                outline: 1px solid;
            }
        }
    }
}