#home {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    transition: background var(--anim-duration);

    .devices {
        flex-grow: 1;
    }
}