main#settings main#settings-rooms .edit-devices {
    overflow: hidden;
    overflow: clip;
    position: absolute;
    top: 0;
    left: 66.5px;
    width: calc(100% - 66.5px);
    height: 100%;
    animation: settings-devices-list-push var(--view-anim-duration);
    border-left: 1px solid var(--color-input-border);
    background-color: var(--color-background);
    z-index: +2;
    transition: 
        left var(--view-anim-duration), 
        width var(--view-anim-duration), 
        border-left-width var(--view-anim-duration), 
        background-color var(--anim-duration), 
        border-color var(--anim-duration);

    @media screen and (max-width: 600px) {
        left: -1px;
        width: calc(100% + 1px);
        animation-name: settings-devices-list-push-mobile;
    }

    .devices-list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity var(--view-anim-duration), transform var(--view-anim-duration);
        overflow: overlay;

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transform: scale(1.25);
        }
    }

    .new-device {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: inner-screen-appear var(--view-anim-duration);
        transition: 
            opacity var(--view-anim-duration), 
            transform var(--view-anim-duration), 
            background-color var(--anim-duration);

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transform: scale(0.75);
        }
    }
}

@keyframes settings-devices-list-push {
    from {
        left: 100%;
    } to {
        left: 66.5px;
    }
}

@keyframes settings-devices-list-push-mobile {
    from {
        left: 100%;
    } to {
        left: -1px;
    }
}