main#settings main#settings-rooms .edit-devices .edit-device {
    position: absolute !important;
    overflow: clip !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: inner-screen-appear var(--view-anim-duration);

    > div:first-child > .content {
        padding: 20px;
        padding-top: 10px;
    }

    > .track-horizontal, 
    > .track-vertical {
        z-index: 1;
    }


    .setting-item.thick-border {
        border-bottom-width: 3px;
    }

    .options > .setting-item:last-child {
        border-bottom: none;
        margin-bottom: 10px;
    }

    .save-container {
        position: sticky;
        z-index: 1;
        bottom: 20px;
        box-shadow: 0 20px 20px 30px var(--color-background);
        border-radius: 7px;
        transition: box-shadow var(--anim-duration);

        .save {
            padding: 12px;
            font-size: 17px;
            width: 100%;
            display: block;

            svg {
                margin-right: 5px;
            }
        }
    }
}