main#settings main#settings-rooms .edit-devices .new-device {
    .choose-type {
        height: 100%;
        
        > div:first-child {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        h1 {
            margin: 0;
            flex-shrink: 0;

            a {
                margin-right: 15px;
                color: var(--color-foreground-subtext);
                transition: color 200ms;

                &:hover {
                    color: var(--color-foreground);
                }
            }
        }

        .subtitle {
            flex-shrink: 0;
            font-size: 1.125em;
        }

        .device-types {
            margin: auto;
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            align-content: center;
            max-width: 800px; // Limit to 3 columns

            a {
                padding: 15px;
                font-size: 1.5em;
                width: 200px;
                text-align: center;

                svg {
                    margin-right: 10px;
                }
            }
        }

        transition: opacity 250ms, transform 250ms;

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transform: scale(1.25);
        }
    }

    .edit-device {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: inner-screen-appear 250ms;
        transition: opacity 250ms, transform 250ms;

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transform: scale(0.75);
        }
    }
}