main#settings main#settings-rooms .edit-devices .new-device {
    .choose-type {
        height: 100%;

        > div:first-child {
            display: flex;
            flex-direction: column;
        }

        header {
            z-index: 1;
        }

        .device-types {
            position: relative;
            margin: auto;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            max-width: 800px; // Limit to 3 columns
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .super-type {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                animation: new-device-super-types-appear var(--view-anim-duration);
                opacity: 1;
                transform: scale(1);
                transition: 
                    opacity var(--view-anim-duration), 
                    transform var(--view-anim-duration);

                @keyframes new-device-super-types-appear {
                    from {
                        opacity: 0;
                        transform: scale(0.3);
                    }

                    to {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                &.closing {
                    opacity: 0;
                    transform: scale(0.3);
                    pointer-events: none;
                }

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .close {
                    font-size: 2em;
                    color: var(--color-foreground-subtext);
                    transition: color var(--anim-duration);
                    cursor: pointer;
                    padding: 10px;
                    width: 43px;
                    text-align: center;

                    &:hover {
                        color: var(--color-foreground);
                    }
                }

                h2 {
                    margin: 0 0 15px;
                }

                .items {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 15px;
                    max-width: 600px;
                }

                &:not(.closing)~.category {
                    opacity: 0.5;
                    filter: blur(10px);
                    pointer-events: none;
                }
            }

            .category {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                justify-content: center;
                align-content: center;
                opacity: 1;
                filter: blur(0px);
                transition: opacity var(--view-anim-duration), filter var(--view-anim-duration);

                &:not(:last-child) {
                    padding-bottom: 15px;
                    border-bottom: 1px solid var(--color-navbar-border);
                    margin-bottom: 15px;
                    transition: 
                        border-color var(--anim-duration), 
                        opacity var(--view-anim-duration), 
                        filter var(--view-anim-duration);
                }
            }

            .button {
                padding: 10px;
                font-size: 1.3em;
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 10px;

                svg {
                    font-size: 1.4em;
                }

                .text {
                    text-align: start;
                }

                .sub-name {
                    font-size: 1rem;
                    color: var(--color-foreground-subtext);
                    transition: color var(--anim-duration);
                }

                * {
                    pointer-events: none;
                }
            }
        }

        transition: opacity var(--view-anim-duration),
        transform var(--view-anim-duration);

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transform: scale(1.25);
        }
    }

    .edit-device {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: inner-screen-appear var(--view-anim-duration);
        transition: opacity var(--view-anim-duration), transform var(--view-anim-duration);

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transform: scale(0.75);
        }
    }
}