main#settings main#settings-rooms .edit-room {
    padding: 20px;
    overflow-y: auto;

    h1 {
        margin: 0;
        margin-bottom: 20px;
        
        .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        > svg {
            margin-right: 15px;
            cursor: pointer;
        }

        button {
            vertical-align: middle;
            margin-left: 10px;
            float: right;
            height: 43px;
            width: 43px;
            font-size: 1.5rem;
        }
    }

    .name-and-id {
        clear: both;
        display: flex;
        gap: 10px;
        margin-bottom: 15px;

        label {
            margin: 0;
        }

        label:first-child {
            flex-basis: 67%;
        }
        label:last-child {
            flex-basis: 33%;

            input {
                font-family: var(--code-font-stack);
            }

            &[data-disabled=true] {
                opacity: 0.5;

                &, input {
                    cursor: not-allowed;
                }
            }
        }
    }

    .icon-select-title,
    .controller-type-select-title,
    .controller-serial-port-select-title {
        font-size: 18px;
    }

    .dropdown-select {
        margin-bottom: 10px;

        .dropdown {
            .loading, .error, .empty {
                padding: 10px;
                text-align: center;
            }

            .loading { color: var(--color-status-placeholder); }
            .error { color: var(--color-status-error); }
            .empty { color: var(--color-foreground-subtext); }
        }
    }

    .icon-select {
        margin-bottom: 10px;
        position: relative;

        svg {
            padding: 10px;
            height: 30px;
            width: 30px;
            cursor: pointer;
            position: relative;
            z-index: +1;
            transition: color 200ms;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background-color: var(--color-horizontal-select-active-background);
            border-radius: 8px;
            pointer-events: none;
            transition: left 200ms;
        }

        &[data-icon='0'] {
            svg:nth-child(1) {
                color: var(--color-horizontal-select-active-foreground);
            }
        }

        &[data-icon='1'] {
            svg:nth-child(2) {
                color: var(--color-horizontal-select-active-foreground);
            }
            &::before {
                left: 50px
            }
        }

        &[data-icon='2'] {
            svg:nth-child(3) {
                color: var(--color-horizontal-select-active-foreground);
            }
            &::before {
                left: 100px
            }
        }

        &[data-icon='3'] {
            svg:nth-child(4) {
                color: var(--color-horizontal-select-active-foreground);
            }
            &::before {
                left: 150px
            }
        }

        &[data-icon='4'] {
            svg:nth-child(5) {
                color: var(--color-horizontal-select-active-foreground);
            }
            &::before {
                left: 200px
            }
        }
    }

    .save {
        margin-top: 50px;
        padding: 12px;
        font-size: 17px;
    }
}

@media screen and (max-width: 600px) {
    main#settings main#settings-rooms .edit-room {
        .name-and-id {
            flex-direction: column;

            label:last-child {
                font-size: 16px;

                input {
                    padding: 7px;
                }
            }
        }
    }
}