main#settings main#settings-rooms {
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1 {
        margin-top: 0;
        flex-shrink: 0;
    }

    .list {
        flex-grow: 1;
        border: 1px solid var(--color-input-border);
        border-radius: 15px;
        padding: 20px;

        .item {
            background-color: var(--color-button-secondary);
            border-radius: 8px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: background-color 200ms;

            &:hover {
                background-color: var(--color-button-secondary-hover);
            }

            .name {
                font-size: 18px;
                font-weight: bold;

                svg {
                    margin-right: 10px;
                }
            }

            .id {
                font-size: 14px;
                color: var(--color-foreground-subtext);
                font-family: var(--code-font-stack);
            }
        }
    }
}