#settings-appearance {
    flex-grow: 1;
    display: flex;

    .fields {
        flex-basis: 0;
        flex-grow: 1;
        border-right: 1px solid var(--color-navbar-border);
        display: flex;
        flex-direction: column;
        transition: border 200ms;

        .setting {
            border-right: 0px solid var(--color-navbar-active);
            background-color: transparent;
            transition: border-right-width 200ms, background-color 200ms;

            &:hover {
                background-color: var(--color-background-hover-1);
            }

            &.active {
                border-right-width: 2px;
                background-color: var(--color-background-hover-2);
                margin-right: -1px;
            }

            .setting-item {
                padding: 10px;
            }
        }

        > .rest {
            flex-grow: 1;
        }
    }

    .preview {
        flex-basis: 0;
        flex-grow: 1;
        position: relative;

        > .placeholder {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-foreground-subtext);
            font-size: 1.1em;
            opacity: 0.5;
            transition: color 200ms;
        }
    }

    @media screen and (max-width: 650px) {
        flex-direction: column;

        .fields {
            border-right: none;
            border-bottom: 1px solid var(--color-navbar-border);

            .setting {
                margin-right: 0 !important;
            }
        }

        .fields,
        .preview {
            height: 50%;
        }
    }
}