.button {
    display: inline-block;
    background-color: var(--color-button-secondary);
    border-radius: 7px;
    padding: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-foreground);
    box-shadow: 0 0 0 0 var(--color-input-active-border);
    transition: color 200ms, background-color 200ms, opacity 200ms, box-shadow 200ms;

    &:disabled {
        color: var(--color-button-secondary-disable-opacity);
        opacity: var(--color-button-secondary-disable-opacity);
        cursor: default;
        background-color: var(--color-button-secondary);
    }

    &:hover:not(:disabled) {
        background-color: var(--color-button-secondary-hover);
    }

    &.primary {
        background-color: var(--color-button-primary);
        color: var(--color-button-primary-text);
    
        &:hover:not(:disabled) {
            background-color: var(--color-button-primary-hover);
        }
    
        &:disabled {
            color: var(--color-button-primary-text);
            background-color: var(--color-button-primary);
            opacity: var(--color-button-primary-disable-opacity);
        }
    }

    &.attention {
        color: var(--color-button-attention-foreground);
    
        &:hover:not(:disabled) {
            background-color: var(--color-button-attention-hover-background);
            color: var(--color-button-attention-hover-foreground);
        }
    
        &:disabled {
            opacity: var(--color-button-primary-disable-opacity);
        }
    }

    &.intermittent {
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 100%;
            bottom: -2px;
            height: 3px;
            transform: translate(-50%, -50%);
            font-size: 20px;
            background-color: var(--color-button-intermittent);
            animation: intermittent 3s infinite;

        }
        &.primary::after {
            background-color: var(--color-button-intermittent-2);
        }
    }

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 3px var(--color-input-active-border);
    }
}

@keyframes intermittent {
    0% {
        width: 0;
        left: 0;
        animation-timing-function: ease-in;
    }

    25% {
        width: 75%;
        left: 70%;
        animation-timing-function: linear;
    }

    50% {
        width: 0%;
        left: 100%;
    }

    55% {
        width: 0;
        left: 0;
        animation-timing-function: linear;
    }

    65% {
        width: 75%;
        left: 0;
        animation-timing-function: ease-out;
    }

    85% {
        width: 0;
        left: 100%;
    }
}