.button {
    display: inline-block;
    border-radius: 7px;
    padding: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 0 0 var(--color-input-active-border);
    transition: 
        color var(--anim-duration), 
        background-color var(--anim-duration), 
        opacity var(--anim-duration), 
        box-shadow var(--anim-duration);

    &:not(.primary):not(.attention) {
        color: var(--color-button-secondary-foreground);
        background-color: var(--color-button-secondary-background);
    
        &:hover:not(:disabled) {
            color: var(--color-button-secondary-hover-foreground);
            background-color: var(--color-button-secondary-hover-background);
        }
    
        &:disabled {
            color: var(--color-button-secondary-disabled-foreground);
            opacity: var(--color-button-secondary-disable-opacity);
            cursor: default;
            background-color: var(--color-button-secondary-background);
        }
    }

    &.primary:not(.attention) {
        color: var(--color-button-primary-foreground);
        background-color: var(--color-button-primary-background);
    
        &:hover:not(:disabled) {
            color: var(--color-button-primary-hover-foreground);
            background-color: var(--color-button-primary-hover-background);
        }
    
        &:disabled {
            opacity: var(--color-button-primary-disable-opacity);
            cursor: default;
            background-color: var(--color-button-primary-background);
        }
    }

    &:not(.primary).attention {
        color: var(--color-button-attention-secondary-foreground);
        background-color: var(--color-button-attention-secondary-background);
    
        &:hover:not(:disabled) {
            color: var(--color-button-attention-secondary-hover-foreground);
            background-color: var(--color-button-attention-secondary-hover-background);
        }
    
        &:disabled {
            color: var(--color-button-attention-secondary-disabled-foreground);
            opacity: var(--color-button-secondary-disable-opacity);
            cursor: default;
            background-color: var(--color-button-attention-secondary-background);
        }
    }

    &.primary.attention {
        color: var(--color-button-attention-primary-foreground);
        background-color: var(--color-button-attention-primary-background);
    
        &:hover:not(:disabled) {
            color: var(--color-button-attention-primary-hover-foreground);
            background-color: var(--color-button-attention-primary-hover-background);
        }
    
        &:disabled {
            opacity: var(--color-button-primary-disable-opacity);
            cursor: default;
            background-color: var(--color-button-attention-primary-background);
        }
    }

    &.intermittent {
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 100%;
            bottom: -2px;
            height: 3px;
            transform: translate(-50%, -50%);
            font-size: 20px;
            background-color: var(--color-button-intermittent);
            animation: intermittent 3s infinite;

        }
        &.primary::after {
            background-color: var(--color-button-intermittent-2);
        }
    }

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 3px var(--color-input-active-border);
    }

    @media (forced-colors: active) {
        border: 1px solid;

        &:hover, &:focus-visible {
            border-style: dashed;
        }
    }
}

@keyframes intermittent {
    0% {
        width: 0;
        left: 0;
        animation-timing-function: ease-in;
    }

    25% {
        width: 75%;
        left: 70%;
        animation-timing-function: linear;
    }

    50% {
        width: 0%;
        left: 100%;
    }

    55% {
        width: 0;
        left: 0;
        animation-timing-function: linear;
    }

    65% {
        width: 75%;
        left: 0;
        animation-timing-function: ease-out;
    }

    85% {
        width: 0;
        left: 100%;
    }
}

button.icon,
a.icon {
    background: none;
    border: none;
    padding: 0;
    height: 2.5rem;
    transition: color var(--anim-duration);

    svg {
        font-size: 2rem;
        height: 0.75em;
        width: 0.75em;
        padding: 0.25em;
        cursor: pointer;
    }

    &:not(.attention) {
        color: var(--color-icon-button);
        &:hover { color: var(--color-icon-button-hover); }
    }
    &.attention {
        color: var(--color-icon-button-attention);
        &:hover { color: var(--color-icon-button-attention-hover); }
    }

    @media (forced-colors: active) {
        &:hover, &:focus-visible {
            outline: 1px dashed;
        }
    }
}