.context-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: opacity var(--anim-duration);

    .context-menu {
        position: fixed;

        border-radius: 5px;
        overflow: hidden;
        width: max-content;

        background-color: var(--color-context-menu-background);
        border: 1px solid var(--color-context-menu-border);
        color: var(--color-context-menu-item-foreground);
        box-shadow: 4px 4px 10px var(--color-context-menu-shadow);

        transform: scale(1);
        --transform-origin: top left;
        transform-origin: var(--transform-origin);
        filter: opacity(1);
        transition: 
            transform var(--anim-duration), 
            filter var(--anim-duration), 
            background-color var(--anim-duration), 
            border-color var(--anim-duration), 
            color var(--anim-duration), 
            box-shadow var(--anim-duration);
        animation: context-menu-appear var(--anim-duration);

        > .content {
            transform: scale(1);
            transform-origin: var(--transform-origin);
            animation: context-menu-content-appear var(--anim-duration);
            transition: transform var(--anim-duration);
            
            .context-menu-item {
                display: block;
                width: 100%;
                text-align: start;
                padding: 10px;
                border: none;
                color: var(--color-foreground);
                font-family: var(--main-font-stack);
                font-size: inherit;
                text-decoration: none;
                cursor: pointer;
                background-color: transparent;
                transition: background-color var(--anim-duration), color var(--anim-duration);

                &:hover {
                    background-color: var(--color-context-menu-item-hover-background);

                    &.attention {
                        background-color: var(--color-context-menu-item-attention-hover-background);
                        color: var(--color-context-menu-item-attention-hover-foreground);
                    }
                }

                svg {
                    margin-right: 10px;
                }
            }
        }

    }

    @supports (backdrop-filter: blur(10px)) {
        .context-menu {
            background-color: var(--color-context-menu-background-with-blur);
            backdrop-filter: opacity(1) blur(10px);
            transition: 
                transform var(--anim-duration), 
                filter var(--anim-duration), 
                backdrop-filter var(--anim-duration), 
                background-color var(--anim-duration), 
                border-color var(--anim-duration), 
                color var(--anim-duration), 
                box-shadow var(--anim-duration);
            animation: context-menu-appear-with-blur var(--anim-duration);
        }

        &.closing .context-menu {
            backdrop-filter: opacity(0) blur(10px);
        }
    }

    @keyframes context-menu-appear {
        0% {
            transform: scale(0.5);
            filter: opacity(0);
        }
        100% {
            transform: scale(1);
            filter: opacity(1);
        }
    }

    @keyframes context-menu-appear-with-blur{
        0% {
            transform: scale(0.5);
            filter: opacity(0);
            backdrop-filter: opacity(0) blur(10px);
        }
        100% {
            transform: scale(1);
            filter: opacity(1);
            backdrop-filter: opacity(1) blur(10px);
        }
    }

    @keyframes context-menu-content-appear {
        0% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    &.closing {
        pointer-events: none;

        .context-menu {
            pointer-events: unset;
            transform: scale(0.5);
            filter: opacity(0);

            > .content {
                transform: scale(1.5);
            }
        }
    }
}