.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dialog-background-overlay);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dialog-fade-in-background 400ms;
    transition: background-color var(--view-anim-duration);

    .dialog {
        background-color: var(--color-dialog-background);
        border-radius: 10px;
        padding: 20px;
        width: 350px;
        max-width: calc(100vw - 40px);
        max-height: calc(100vh - 80px);
        filter: opacity(1);
        animation: dialog-fade-in var(--view-anim-duration), dialog-grow var(--view-anim-duration);
        transition: 
            transform var(--view-anim-duration), 
            filter var(--view-anim-duration), 
            background-color var(--view-anim-duration);

        h1 {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 0;

            button.icon {
                height: initial;
                float: right;

                svg {
                    padding: 0;
                }
            }
        }
    }

    &.closing {
        background-color: transparent;
        pointer-events: none;

        .dialog {
            transform: scale(0.75);
            filter: opacity(0);
        }
    }

    @supports (backdrop-filter: blur(10px)) {
        .dialog {
            backdrop-filter: opacity(1) blur(10px);
            background-color: var(--color-dialog-background-with-blur);
            animation: 
                dialog-fade-in-with-blur var(--view-anim-duration), 
                dialog-grow var(--view-anim-duration);
            transition: 
                transform var(--view-anim-duration), 
                filter var(--view-anim-duration), 
                backdrop-filter var(--view-anim-duration), 
                background-color var(--view-anim-duration);
        }

        &.closing {
            .dialog {
                backdrop-filter: opacity(0) blur(10px);
                filter: opacity(0);
            }
        }
    }

    @media (forced-colors: active) {
        .dialog {
            border: 1px solid;
        }
    }
}

@keyframes dialog-fade-in {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@keyframes dialog-fade-in-with-blur {
    from {
        filter: opacity(0);
        backdrop-filter: opacity(0) blur(10px);
    }
    to {
        filter: opacity(1);
        backdrop-filter: opacity(1) blur(10px);
    }
}

@keyframes dialog-fade-in-background {
    from {
        background-color: transparent;
    }
    50% { // To avoid a flash on firefox, we extend the animation so it remains in the final state for var(--view-anim-duration) before the animation is 'finished'
        background-color: var(--color-dialog-background-overlay);
    }
}

@keyframes dialog-grow {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(1);
    }
}