.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dialog-fade-in 200ms;
    transition: opacity 200ms;

    .dialog {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        width: 300px;
        max-width: calc(100vw - 40px);
        animation: dialog-grow 200ms;
        transition: transform 200ms;

        h1 {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 0;
        }
    }

    &.closing {
        opacity: 0;
        pointer-events: none;

        .dialog {
            transform: scale(0.75);
        }
    }
}

@keyframes dialog-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dialog-grow {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(1);
    }
}