.flyout-container {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 100;

    .flyout{
        position: fixed;
        z-index: 100;
        width: auto;
        box-sizing: border-box;
        background-color: var(--color-flyout-background);
        border: 1px solid var(--color-flyout-border);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 4px 4px 10px var(--color-flyout-shadow);
        transform: translateY(0);
        filter: opacity(1);
        transition: transform 200ms, filter 200ms;

        &.top {
            animation: flyout-appear 200ms, flyout-appear-top 200ms;
        }

        &.bottom {
            animation: flyout-appear 200ms, flyout-appear-bottom 200ms;
        }

        > svg.close {
            float: right;
            cursor: pointer;
            transform: scale(1);
            transition: transform 200ms;

            &:active {
                transform: scale(1.25);
            }
        }

        > .buttons {
            margin-top: 10px;
            display: flex;
            gap: 10px;

            .button {
                flex-grow: 1;
            }
        }
    }

    &.closing {
        pointer-events: none;

        .flyout {
            pointer-events: unset;
            filter: opacity(0);

            &.top {
                transform: translateY(10px);
            }
            &.bottom {
                transform: translateY(-10px);
            }
        }
    }

    @supports (backdrop-filter: blur(10px)) {
        .flyout {
            backdrop-filter: opacity(1) blur(10px);
            background-color: var(--color-flyout-background-with-blur);
            transition: transform 200ms, filter 200ms, backdrop-filter 200ms;

            &.top {
                animation: flyout-appear-with-blur 200ms, flyout-appear-top 200ms;
            }
            &.bottom {
                animation: flyout-appear-with-blur 200ms, flyout-appear-bottom 200ms;
            }
        }

        &.closing {
            .flyout {
                backdrop-filter: opacity(0) blur(10px);
                filter: opacity(0);
            }
        }
    }
} 

@keyframes flyout-appear {
    from {
        filter: opacity(0);
    } 
    to {
        filter: opacity(1);
    }
}

@keyframes flyout-appear-with-blur {
    from {
        filter: opacity(0);
        backdrop-filter: opacity(0) blur(10px);
    } 
    to {
        filter: opacity(1);
        backdrop-filter: opacity(1) blur(10px);
    }
}

@keyframes flyout-appear-top {
    from {
        transform: translateY(10px);
    } 
    to {
        transform: translateY(0);
    }
}

@keyframes flyout-appear-bottom {
    from {
        transform: translateY(-10px);
    } 
    to {
        transform: translateY(0);
    }
}