header:not(#root > header) {
    border-bottom: 1px solid var(--color-navbar-border);
    background-color: var(--color-background);
    
    @supports (backdrop-filter: blur(10px)) {
        background-color: var(--color-background-with-blur);
        backdrop-filter: blur(10px);
    }

    position: sticky;
    top: 0;
    z-index: 2;
    overflow: clip;
    transition: background-color var(--anim-duration), border-color var(--anim-duration);

    > div {
        display: flex;
        align-items: center;
        padding: 15px;
        gap: 15px;
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        box-sizing: border-box;
        transition: opacity var(--view-anim-duration), top var(--view-anim-duration);

        &.h2 {
            padding: 8px;
            gap: 10px;
        }

        &.hidden {
            top: -50%;
            pointer-events: none;
            opacity: 0;
        }
        &:not(.hidden) ~ .hidden {
            top: 50%;
        }

        &.main {
            position: relative;
            height: unset;

            .back {
                svg {
                    height: 1em;
                    width: 1em;
                    padding: 0.125em;
                }
            }

            .title {
                flex-grow: 1;

                h1, h2 {
                    margin: 0;
                }
            }

            .buttons {
                display: flex;
                align-items: center;
            }
        }
        &.search {
            .fa-magnifying-glass {
                font-size: 1.5em;
                opacity: 0.25;
                margin-left: 0.5em;
            }

            input {
                background: none;
                border: none;
                font-size: 1.5em;
                flex-grow: 1;
                color: inherit;

                &::placeholder {
                    color: var(--color-status-placeholder);
                    transition: color var(--anim-duration), opacity var(--anim-duration);
                }

                &:focus {
                    outline: none;
                    &::placeholder {
                        opacity: 0.5;
                    }
                }
            }
        }
        &.select {
            label.checkbox {
                margin-bottom: 0;
                margin-left: 1em;
            }

            h1, h2 {
                flex-grow: 1;
            }
        }
    }
}

.page-with-header {
    > div:first-child {
        display: flex;
        flex-direction: column;

        > header {
            flex-shrink: 0;
        }

        > .content {
            flex-grow: 5;
            padding: 20px;
        }
    }
    > .track-vertical {
        top: calc(var(--scrollbar-margin) + var(--header-height));
    }
}