#notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-width: calc(100vw - 40px);
    display: flex;
    flex-direction: column-reverse;
    z-index: 9999;

    .notification {
        margin-top: 10px;
        transition: 
            height var(--anim-duration),
            margin var(--anim-duration), 
            transform var(--anim-duration);
        transform: translate(0, 0);
        height: var(--height);
        position: relative;

        > div {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 10px;
            border-radius: 7px;
            background-color: var(--color-notification-background);
            border: 2px solid;
            box-shadow: 4px 4px 10px var(--color-notification-shadow);
            filter: opacity(1);
            transition: filter 2000ms;
    
            &.info { border-color: var(--color-notification-border-info); }
            &.success { border-color: var(--color-notification-border-success); }
            &.warning { border-color: var(--color-notification-border-warning); }
            &.error { border-color: var(--color-notification-border-error); }
    
            button.close {
                float: right;
                border: none;
                background: none;
                padding: 5px;
                color: inherit;
                transition: transform var(--anim-duration), color var(--anim-duration);
    
                &:hover {
                    color: var(--color-notification-close-button-hover);
                }
                &:active {
                    transform: scale(1.5);
                }
            }
    
            h1 {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 5px;
                margin-top: -5px;
            }
    
            .button {
                margin-top: 10px;
                padding: 5px 8px;
                border-radius: 999em;
            }
        }

        &.fading {
            > div {
                filter: opacity(0);
            }

            animation: notification-disappear var(--anim-duration) 2000ms forwards;
        }

        &.closing {
            height: 0;
            margin-top: 0;
            transform: translateX(340px);
        }

        &.new {
            animation: notification-appear var(--anim-duration);
        }

        @supports (backdrop-filter: blur(10px)) {
            > div {
                backdrop-filter: opacity(1) blur(10px);
                background-color: var(--color-notification-background-with-blur);
                transition: filter 2000ms, backdrop-filter 2000ms;
            }

            &.fading {
                > div {
                    backdrop-filter: opacity(0) blur(10px);
                    filter: opacity(0);
                }
            }
        }
    }
}

@keyframes notification-appear {
    from {
        height: 0;
        margin-top: 0;
        transform: translateY(calc(30px + var(--height)));
    }
    to {
        height: var(--height);
        margin-top: 10px;
        transform: translateY(0);
    }
}

@keyframes notification-disappear {
    from {
        height: var(--height);
        margin-top: 10px;
    }
    to {
        height: 0;
        margin-top: 0;
        pointer-events: none;
    }
}
