#notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-width: calc(100vw - 40px);
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;

    .notification {
        z-index: 9999;
        padding: 10px;
        border-radius: 7px;
        background-color: var(--color-notification-background);
        border: 2px solid;
        box-shadow: 4px 4px 10px var(--color-notification-shadow);
        transition: opacity 2000ms, transform 200ms;

        &.info { border-color: var(--color-notification-border-info); }
        &.success { border-color: var(--color-notification-border-success); }
        &.warning { border-color: var(--color-notification-border-warning); }
        &.error { border-color: var(--color-notification-border-error); }

        button.close {
            float: right;
            border: none;
            background: none;
            padding: 5px;
            transition: transform 200ms, color 200ms;

            &:hover {
                color: var(--color-notification-close-button-hover);
            }
            &:active {
                transform: scale(1.5);
            }
        }

        h1 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: -5px;
        }

        button.button {
            margin-top: 10px;
            padding: 7px;
            border-radius: 999em;
        }

        &.fading {
            opacity: 0;
        }

        &.closing {
            transform: translateX(calc(100% + 30px));
        }

        &.closing ~ .notification {
            transform: translateY(calc(100% + 20px));
        }

        &.new {
            animation: notification-appear 200ms;
        }

        &.new ~ .notification {
            animation: notification-mode-up 200ms;
        }
    }
}

@keyframes notification-appear {
    from {
        transform: translateY(calc(100% + 30px));
    }
    to {
        transform: translateY(0);
    }
}
@keyframes notification-move-up {
    from {
        transform: translateY(calc(100% + 20px));
    }
    to {
        transform: translateY(0);
    }
}