:root {
    --scrollbar-width: 12px;
    --scrollbar-margin: 3px;
}

.scroll-view {
    > .track-horizontal {
        bottom: var(--scrollbar-margin);
        left: var(--scrollbar-margin);
        right: var(--scrollbar-margin);
        height: var(--scrollbar-width) !important;
        border-radius: 999em;
        background-color: var(--color-scrollbar-background);
        transition: background-color var(--anim-duration);

        &:hover {
            background-color: var(--color-scrollbar-hover-background);
        }

        > .thumb-horizontal {
            border-radius: 999em;
            background-color: var(--color-scrollbar-thumb);
            transition: background-color var(--anim-duration);

            &:hover {
                background-color: var(--color-scrollbar-hover-thumb);
            }

            &:active {
                background-color: var(--color-scrollbar-active-thumb);
            }
        }
    }

    > .track-vertical {
        right: var(--scrollbar-margin);
        top: var(--scrollbar-margin);
        bottom: var(--scrollbar-margin);
        width: var(--scrollbar-width) !important;
        border-radius: 999em;
        background-color: var(--color-scrollbar-background);
        transition: background-color var(--anim-duration);

        &:hover {
            background-color: var(--color-scrollbar-hover-background);
        }

        > .thumb-vertical {
            border-radius: 999em;
            background-color: var(--color-scrollbar-thumb);
            transition: background-color var(--anim-duration);

            &:hover {
                background-color: var(--color-scrollbar-hover-thumb);
            }

            &:active {
                background-color: var(--color-scrollbar-active-thumb);
            }
        }
    }
}


// Browser scrollbars

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-background);
  border-radius: 6px;
  
  &:hover {
    background-color: var(--color-scrollbar-hover-background);
  }
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 6px;
  
  &:hover {
    background-color: var(--color-scrollbar-hover-thumb);
  }

  &:active {
    background-color: var(--color-scrollbar-active-thumb);
  }
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}