main#settings-account-info {
    > div:first-child {
        padding: 20px;
    }

    h1 {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            font-size: 1rem;
        }
    }

    .setting-item:last-child {
        border-bottom: none;
    }
}