.change-password-dialog {
    .default-password-warning {
        color: var(--color-status-warning);
        margin-bottom: 10px;

        .header {
            font-size: 1.2em;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            
            svg:first-child {
                margin-right: 15px;
                font-size: 1.25em;
            }

            svg:last-child {
                margin-left: 15px;
                font-size: 1.25em;
                cursor: pointer;
                transform: scale(1);
                transition: transform 200ms;

                &:active {
                    transform: scale(1.25);
                }
            }
        }

        ul {
            margin-top: 5px;
            padding-left: 20px;
            margin-bottom: 10px;
        }
    }
}