.change-password-dialog {
    .score {
        margin-bottom: 15px;
        height: 30px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-button-secondary-background);
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0;
            transition: background-color 300ms, width 300ms;
        }

        @each $s in 0,1,2,3,4 {
            &.s#{$s}::before {
                width: 20% * ($s+1);
                background-color: var(--color-score-#{$s});
            }
        }

        &.s-1 span {
            color: var(--color-foreground-subtext);
        }

        span {
            position: relative;
            z-index: 1;
        }
    }
}