main#account-info {
    h1 {
        strong {
            font-weight: 900;
        }
        button {
            vertical-align: middle;
            margin-left: 6px;
            padding: 5px;
        }
    }
}