header {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--color-navbar-background);
    height: 60px;
    flex-shrink: 0;

    button {
        flex-grow: 1;
        border: none;
        background-color: transparent;
        position: relative;
        padding: 0;
        cursor: pointer;
        transition: padding-bottom 0.2s;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 3px;
            right: 3px;
            bottom: 0;
            height: 4px;
            background-color: transparent;
            border-top-left-radius: 999em;
            border-top-right-radius: 999em;
            content: attr(data-title);
            color: transparent;
            font-size: 18px;
            padding: 2px;
            overflow: hidden;
            transition: background-color 200ms, height 200ms, color 200ms, border-radius 200ms;
        }
        &:hover:hover {
            padding-bottom: 15px;
        }
        &:hover::after {
            height: 20px;
            background-color: var(--color-navbar-hover-title);
            color: var(--color-foreground);
        }
        &[data-selected="true"] {
            padding-bottom: 4px;
        }
        &[data-selected="true"]::after {
            background-color: var(--color-navbar-active);
        }
        &[data-selected="true"]:hover::after {
            color: var(--color-navbar-active-text);
        }

        svg {
            color: var(--color-navbar-icon);
            height: 30px !important;
            width: 30px !important;
        }
    }
}