header {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--color-navbar-background);
    height: 60px;
    flex-shrink: 0;

    a {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        text-decoration: none;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;

        position: relative;

        transition: padding-bottom 0.2s;

        span {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px 0 3px;
            position: absolute;
            left: 3px;
            right: 3px;
            bottom: 0;
            height: 4px;
            background-color: transparent;
            border-top-left-radius: 999em;
            border-top-right-radius: 999em;
            content: attr(data-title);
            color: transparent;
            font-size: 18px;
            overflow: hidden;
            transition: background-color 200ms, height 200ms, color 200ms, border-radius 200ms;
        }
        &:hover:hover,
        &:focus-visible:focus-visible {
            padding-bottom: 15px;
            outline: none;
        }
        &:hover span,
        &:focus-visible span {
            height: 20px;
            background-color: var(--color-navbar-hover-title);
            color: var(--color-foreground);
        }
        &.active {
            padding-bottom: 4px;
        }
        &.active span {
            background-color: var(--color-navbar-active);
        }
        &.active:hover span,
        &.active:focus-visible span {
            color: var(--color-navbar-active-text);
        }

        svg {
            color: var(--color-navbar-icon);
            height: 30px !important;
            width: 30px !important;
        }
    }
}