#root > header {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--color-navbar-background);
    height: 60px;
    flex-shrink: 0;
    transition: background-color 200ms;

    a {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        text-decoration: none;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;

        position: relative;

        transition: padding-bottom 0.2s;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px 0 3px;
            position: absolute;
            left: 3px;
            right: 3px;
            bottom: 0;
            height: 4px;
            background-color: transparent;
            border-top-left-radius: 999em;
            border-top-right-radius: 999em;
            content: attr(data-title);
            color: transparent;
            font-size: 18px;
            overflow: hidden;
            transition: background-color 200ms, height 200ms, color 200ms, border-radius 200ms;
        }
        &.active {
            padding-bottom: 4px;
            
            span, 
            &:hover span, 
            &:focus-visible span {
                background-color: var(--color-navbar-active);
            }
        }
        &:hover,
        &:focus-visible {
            padding-bottom: 15px;
            outline: none;

            span {
                height: 20px;
                background-color: var(--color-navbar-hover-title);
                color: var(--color-foreground);
            }

            &.active span {
                color: var(--color-navbar-active-text);
            }
        }

        svg {
            color: var(--color-navbar-icon);
            height: 30px !important;
            width: 30px !important;
            transition: color 200ms;
        }
    }
    
    @media (forced-colors: active) {
        border-bottom: 1px solid;
        
        a {
            padding-bottom: 20px !important;
            outline-offset: -2px;

            span {
                height: 20px !important;
                bottom: 2px;
            }

            svg {
                color: inherit;
            }

            &:hover, &:focus-visible {
                outline: 1px dashed !important;
            }

            &.active {
                outline: 1px solid !important;
            }
        }

        @media screen and (max-width: 600px) {
            border-top: 1px solid;
            border-bottom: none;
        }
    }
}