#invalid-version {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    kbd {
        border: 1px solid;
        border-radius: 5px;
        border-bottom: 3px solid;
        padding: 2px;
    }
}