main#settings {
    display: flex;
    height: calc(100% - 60px);
    
    > .content {
        flex-grow: 1;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
    }
}