main#settings nav.settings-sidebar {
    flex-shrink: 0;
    width: 150px !important;
    background-color: var(--color-navbar-background);
    overflow: hidden;
    box-shadow: inset 0 1px 0 0 var(--color-navbar-border);
    transition: background-color var(--anim-duration), box-shadow var(--anim-duration);

    --scrollbar-width: 6px;
    --scrollbar-margin: 2px;

    .track-vertical {
        right: initial;
        left: var(--scrollbar-margin);
        bottom: calc(var(--scrollbar-margin) + 1px); // 1px for border
    }

    >div:first-child {
        display: flex;
        flex-direction: column;
    }

    a {
        flex-shrink: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        padding: 7px;
        font-size: 18px;
        text-align: left;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-foreground);
        transition: background-color var(--anim-duration), color var(--anim-duration);
        position: relative;

        >span {
            position: relative;
            top: -1px;
        }

        svg {
            width: 25px;
            height: 25px;
            margin-right: 8px;
            color: var(--color-navbar-icon);
            transition: color var(--anim-duration);
        }

        &::after {
            // Small triangle dent on the right, only shown when active
            content: '';
            display: block;
            position: absolute;
            right: -19px;
            top: calc(50% - 8px);
            transform: rotate(45deg);
            width: 15px;
            height: 15px;
            background-color: var(--color-background);
            transition: right 150ms, top 150ms, background-color var(--anim-duration);
        }

        &:hover:not(.active) {
            color: var(--color-navbar-hover-text);

            svg {
                color: var(--color-navbar-hover-text);
            }
        }

        &.active {
            background-color: var(--color-navbar-active);
            color: var(--color-navbar-active-text);

            &::after {
                right: -8px;
            }

            svg {
                color: var(--color-navbar-active-text);
            }
        }
    }

    .space-filler {
        flex-grow: 1
    }

    .footer {
        color: var(--color-foreground-subtext);
        padding: 10px;
        font-size: 0.75em;
        text-align: center;
        word-wrap: break-word;
        transition: color var(--anim-duration);

        .mobile {
            display: none;
        }
    }

    @media screen and (max-width: 600px) {
        height: 70px !important;
        width: 100% !important;
        box-shadow: inset 0 -1px 0 0 var(--color-navbar-border);

        > div:first-child {
            flex-direction: row;
            align-items: center;
        }

        a {
            width: auto;
            height: 100%;
            padding: 15px;

            svg {
                width: 40px;
                height: 40px;
                margin: 0;
            }

            span {
                display: none;
            }

            &::after {
                top: -19px;
                left: calc(50% - 8px);
            }
            &.active::after {
                top: -8px;
            }
        }

        .footer {
            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }
        }
    }

    @media (forced-colors: active) {
        border-right: 1px solid;

        a {
            outline-offset: -2px;

            svg {
                color: inherit !important;
            }

            &:hover,
            &:focus-visible {
                outline: 1px dashed !important;
            }

            &.active {
                outline: 1px solid !important;
            }

            &::after {
                display: none;
            }
        }
    }
}