label.checkbox {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;

    input[type="checkbox"] {
        appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        margin: 0;
        margin-right: 5px;
        background-color: var(--color-checkbox-background);
        vertical-align: middle;
        cursor: pointer;
        box-shadow: 0 0 0 0 var(--color-input-active-border);
        transition: background-color var(--anim-duration), box-shadow var(--anim-duration);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 6px;
            height: 10px;
            width: 5px;
            opacity: 0;
            border: 3px var(--color-checkbox-check);
            border-style: none solid solid none;
            transform: rotate(45deg);
            transition: opacity var(--anim-duration);
        }

        &:checked {
            background-color: var(--color-checkbox-background-checked);

            &::after {
                opacity: 1;
            }
        }

        &:focus-visible {
            outline: none;
            box-shadow: 0 0 0 3px var(--color-input-active-border);
        }
    }

    .label {
        vertical-align: middle;
        position: relative;
        top: -1px;
    }

    .required {
        color: var(--color-input-required);
    }

    &.has-description {
        margin-bottom: 0;
    }

    + .description {
        color: var(--color-foreground-subtext);
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    @media (forced-colors: active) {
        input[type="checkbox"] {
            border: 1px solid;
        }
    }
}