.setting-item.container {
    padding: 0;
    flex-direction: column;
    align-items: stretch;
    gap: 0;

    > .head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .title {
            padding: 10px 0;
            font-size: 1.2em;
            font-weight: bold;
        }

        > .value > .toggle-button {
            --size: 20px;
        }
    }

    > .content {
        margin-left: 20px;

        > :last-child {
            border-bottom: 0;
        }
    }
}