.setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    gap: 10px;
    border-bottom: 1px solid var(--color-navbar-border);
    transition: border-bottom 200ms;

    >.title {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            font-size: 1.3em;
            margin: 5px;
        }

        div {
            span {
                display: block;
            }

            .description {
                color: var(--color-foreground-subtext);
                font-size: 0.8em;
                transition: color 200ms;
            }
        }
    }
}