.setting-item.text-select .value .text-select {
    position: relative;
    
    label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        z-index: +1;
        padding: 10px;

        input {
            appearance: none;
            height: 0;
            width: 0;
            margin: 0;
    
            &:checked + span {
                color: var(--color-horizontal-select-active-foreground);
            }
    
            &:focus-visible + span {
                box-shadow: 0 0 0 3px var(--color-input-active-border);
            }
        }

        span {
            transition: color var(--anim-duration);
        }
    }

    .square {
        position: absolute;
        background-color: var(--color-horizontal-select-active-background);
        border-radius: 8px;
        pointer-events: none;
        transition: 
            left var(--anim-duration), 
            top var(--anim-duration), 
            width var(--anim-duration), 
            background-color var(--anim-duration);
    }
}