#root {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: var(--color-background);
    transition: background-color var(--anim-duration);
}

@media screen and (max-width: 600px) {
    #root {
        flex-direction: column-reverse; // Puts header to bottom on mobile
    }
}