@import './colors.scss';

:root {
  --main-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --code-font-stack: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  margin: 0;
  font-family: var(--main-font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

html, body, #root {
  height: 100%;
}

code {
  font-family: var(--code-font-stack);
}

:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: var(--color-tap-highlight);
}